<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"> {% load static %}
    <link rel="stylesheet" href="{% static 'users/css/style.css' %}">
    <title>Login/Registration</title>
</head>

<body>
    <div id="wrapper">
        {% if messages %} {% for message in messages %}
        <div class="error">- {{message}}</div>
        {% endfor %} {% endif %}
        <div>
            <div class="column" id="registration">
                <h1>Registeration</h1>
                <form action='/process' method='POST'>
                    {% csrf_token %}
                    <input type="hidden" name="type" value="register">
                    <div>
                        <label for="name">Name:</label>
                        <input type="text" name="name" id="name">
                    </div>
                    <div>
                        <label for="username">Username:</label>
                        <input type="text" name="username" id="username">
                    </div>
                    <div>
                        <label for="password">Password:</label>
                        <input type="password" name="password" id="password">
                    </div>
                    <div>
                        <label for="password_confirmation">Confirm PW:</label>
                        <input type="password" name="password_confirmation" id="password_confirmation">
                    </div>
                    <div>
                        <label for="hired_date">Date Hired:</label>
                        <input type="date" name="hired_date" id="hired_date" required>
                    </div>
                    <input type="submit" value="Register">
                </form>
            </div>
            <div class="column" id="login">
                <h1>Login</h1>
                <form action='/process' method='POST'>
                    {% csrf_token %}
                    <input type="hidden" name="type" value="login">
                    <div>
                        <label for="username">Username:</label>
                        <input type="text" name="username" id="username">
                    </div>
                    <div>
                        <label for="password">Password:</label>
                        <input type="password" name="password" id="password">
                    </div>
                    <input type="submit" value="Login">
                </form>
            </div>
        </div>
    </div>
</body>

</html>